

<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Travel App</title>

   </head>
   <body>
      <div class="content">
         <header>
            <!-- <div class="logoHeader"><img src=logo id='appLogo'alt="logo"></div> -->
            <div class="logoHeader"><h1>Travel App</h1></div>
         </header>
         <main id="form">
            <section>
            <form name="myForm" class="" onsubmit="return Client.handleSubmit(event)">
               <div class="inputForms">
                  <div class="inputFormT">
                     <p>Enter the location you are travelling to:</p>
                     <input id="location" class='round' type="text" name="input" value=""  placeholder=" Location">
                  </div>
                  <div class="inputFormT">
                     <p>Enter the leaving and departing date:</p>
                     <input id="startDate" class='round' type="date" name="input" value=""  placeholder="Name">
                     <input id="endDate"  class='round' type="date" name="input" value=""  placeholder="Name">
                  </div>
               </div> <!-- Closes inputForms div -->
               <div class="secondContainer">
              
               <input type="submit" id="subBttn" name="" value="SUBMIT TRIP INFO" onclick="" onsubmit="">
            </form>
         </section>
            <section>
               
               <div id="results">
                  <div id = "temperature"></div>
                  <div id = "precip"></div>
                  <div id = "travelCounter"></div>
                  <div id = "travelLength"></div>
               </div>
               <div id = "image"> <img id='destinationImage'  alt="" width="400" >  </div>
               <p id="credits">Photo credits: <a href='https://pixabay.com/'>Pixabay</a></p>
            </section>
          </div><!-- Closes secondContainer div -->
         </main>

         <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
            </script> -->
         
      </div>
      <!-- Closes CONTENT div -->
   </body>
</html>

